/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-c-space-b {
    justify-content: space-between;
}

.align-i-center {
    align-items: center;
}

.gap {
    gap: 10px;
}

li {
    list-style: none;
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

img {
    max-width: 100%;
    display: block;
}

.align-self-center {
    align-self: center;
}

.font-12 {
    font-size: 12px;
}

.c-white {
    color: white;
}

a {
    text-decoration: none;
}

.c-green {
    color: rgb(75, 199, 0);
}