/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dotted black;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

li {
    list-style: none;
    display: inline-block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

img {
    max-width: 100%;
    display: block;
}