/* MAIN */
main {
    height: 100vh ;
    background-color: rgb(0, 0, 0);
}

/* Icone Speaker View */
main div#icon-main {
    top: 2px;
    right: 2px;
    justify-content: space-between;
    gap: 2px;
}

main #icon-main .box-grey {
    padding: 2px 1px;
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
}

main #icon-main div a i#arrows{
    transform: rotate(-45deg);
}

/* Immagini Profilo */
main div#cards {
    gap: 10px;
    padding: 60px 60px 80px;
}

main #cards div.profile {
    width: calc((100% / 7) - 10px);
    color: white;
}

main #cards .profile div.name {
    bottom: 0;
    left: 0;
    background-color: rgba(0%, 0%, 0%, 0.3);
    border: none;
    padding: 2px 2px;
}

/* FOOTER */
footer {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: rgb(34, 34, 34);
}

footer #container-footer {
    flex-basis: 100%;
}

/* Icone */
footer div#left-footer {
    padding-left: 10px ;
}

footer #container-footer div ul li {
    text-align: center;
}

footer #container-footer div ul li a i.font-24 {
    font-size: 24px;
    margin-bottom: 5px;
}

footer #container-footer div ul li a span.name-icon.font-12 {
    display: block;
}

/* End Meeting */
footer #container-footer div#end-meeting {
    color: rgb(253, 4, 4);
    background-color: rgb(74, 74, 74);
    height: 80px;
    padding: 0 20px;
}